<h1> Add new product</h1>
<form action="/products/create" method="post" enctype="multipart/form-data">

  <label for="description"> Description </label>
  <input type="text" id="description" name="description"> <br><br>

  <label for="price"> Price </label>
  <input type="number" id="price" name="price"> <br><br>

  <label for="category"> Category </label>
  <input type="text" id="category" name="category"> <br><br>

  <label for="stock"> Stock </label>
  <input type="checkbox" id="stock" name="stock"> <br><br>

  <label for="promotion"> Promotion </label>
  <input type="checkbox" id="promotion" name="promotion"> <br><br>

  <label for="newArrival"> New Arrival </label>
  <input type="checkbox" id="newArrival" name="newArrival"> <br><br>

  <label for="imagen"> Image <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png"></label> 

  <button type="submit">Add Product</button>
</form>